nav{
    background: linear-gradient(#c25151,#EEDF7A);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .brand{
        display: flex;
        img{
            width: 100px;
        }
    }
    .user-card{
        .bn632-hover {
            width: 100px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 40px;
            text-align:center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
          
          .bn632-hover:hover {
            background-position: 100% 0;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
          
          .bn632-hover:focus {
            outline: none;
          }
          
          .bn632-hover.bn21 {
            background-image: linear-gradient(
              to right,
              #fc6076,
              #ff9a44,
              #ef9d43,
              #e75516
            );
            box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
          }

    }
 
}
